/* GERAL */
body {
    font-family: arial, sans-serif;
    background: #ccc;
    margin: 0;
}

/* CABEÇALHO */
.hero {
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

/* botões do cabeçalho */

.hero nav ul {
    text-align: right;
    margin: 20px 50px 0 0;
}

.hero nav li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    border: 1px solid white;
}

.hero nav a {
    background: rgba(0, 0, 0, 0.1);
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.hero nav a:hover {
    color:white;
    text-decoration: underline;
    background: rgba(0, 0, 0, 0.3)
}


/* título e parágrafo do cabeçalho */
.hero-content {
    text-align: center;
    color: white;
    margin-top: 150px;
}

/* título do cabeçalho */
.hero-content h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;

    width: 500px;

    margin: auto;
    padding-bottom: 60px;

}


/* parágrafo do cabeçalho */
.hero-content p {
    background-color:rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
    text-align: center;

    padding-top: 15px;
    margin: auto;

    
}

/* MAIN - conteúdo principal */
main {
    width: 80%;
    margin: auto;
}

/* contém os cards */
.content-section {
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

.card {
    width: 32%;
    float: left;
    box-sizing: border-box;
}

.card-1, .card-2 {
    margin-right: 2%;
}

.card img {
    width: 100%;
    display: block;
}

.card p {
    background-color: rgba(61, 60, 60);
    color: white;
    margin: 0;
    padding: 15px;

}

/* contém o artigo */
.content-section article header h2 {
    background-color: rgb(226, 224, 224);
    height: 40px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #ccc;
    padding-top: 10px;
    padding-left: 10px;
}

/* RODAPÉ */
footer {
    background-color: rgb(112, 109, 109);
    height: 50px;

    color: white;
    font-size: 12px;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    padding-top: 20px;


}